html, body, nav {
    height: 100%;
                }
    body {
    margin: 0;
    background-image: url("../images/ocean.jpg");
    background-size: cover;
        }
h1 {
    font-size: 600%; 
    color: navy; 
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 4px 3px 4px rgb(3, 2, 59);
    }
h2 {
    font-family: URW Chancery L, cursive;
    font-size: 250%;
    transform: translate(0%, -320%);
    color: rgb(255, 115, 22);
    text-shadow: 5px 4px 3px rgb(70, 36, 5);
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.bouton {
        width:120px;
        height:70px;
        box-shadow:8px 8px 5px rgb(53, 52, 52);
        font:bold 25px URW Chancery L, cursive;
        text-align: center;
        display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
  border: 2px solid rgb(49, 25, 5);
  text-decoration: none;
  -webkit-transition-duration: 1.4s all;
  transition-duration: 1.4s all;
}
p:hover{
    color: rgb(196, 196, 196);
    background: rgb(185, 185, 185);
    background: linear-gradient( rgb(238, 109, 3), rgb(75, 32, 4));
}
p:active{
    color: #000;
    background: #444;
    background: linear-gradient( rgb(75, 32, 4), rgb(238, 109, 3));
    box-shadow: 2px 2px 10px grey inset, 
                0 1px 0 rgba( 255, 255, 255, 0.4);
}